.mobile-and-drop-box {
  margin-top: -2.7rem;
  margin-left: 29rem;
}

#more {
  margin-top: 0.2rem;
}

#desktop-exhibitions-link {
  margin-top: -5.8rem;
}

.About-wrapper,
.About-box-1 {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
}

.About-banner {
  width: 100vw;
  height: 60vh;
  display: flex;
  position: relative;
}

.About-banner-img {
  width: 100%;
  object-fit: cover;
  height: 200px;
  filter: brightness(50%);
}

.About-img-box-1 {
  width: 80vw;
}

.About-img-1 {
  width: 100%;
  object-fit: contain;
}

.h1-about-box {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.About-text-box-1 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 80vw;
}

.About-text-1 {
  width: 100%;
}

.About-box-2,
.About-box-4 {
  display: flex;
  flex-direction: row;
}

.About-box-2 {
  gap: 15rem;
  padding-top: 5rem;
}

.About-box-2 {
  width: 620px;
}

.About-box-4 {
  padding-bottom: 10rem;
  width: 1150px;
}

.About-text-box-2,
.About-text-box-4 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
}

.About-text-2-wrapper,
.About-text-4-wrapper {
  width: 200px;
  position: absolute;
}

.About-text-2-wrapper {
  padding-left: 15rem;
}

.elements-img-box {
  display: flex;
  margin-left: -3rem;
}

.elements-img-About {
  width: 400px;
  height: 320px;
}

.circle-img-box {
  width: 500px;
}

.circle-img-box-2 {
  width: 20px;
  margin-left: 12rem;
}

.circle-img-About {
  width: 800px;
}

.About-box-3 {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
}

.About-img-box-3 {
  width: 80vw;
}

.About-img-3 {
  width: 100%;
  object-fit: contain;
  margin-top: -10rem;
}

.About-text-3-wrapper {
  margin-top: -8rem;
}

.About-wrapper-4 {
  width: 500px;
}

.About-text-4-wrapper {
  width: 120px;
  padding-left: 55rem;
}

.building-blocks-img-box {
  position: absolute;
  margin-left: 17rem;
  margin-top: -1rem;
}

.building-blocks-img {
  width: 820px;
}

/* SMALL SCREENS */

@media (min-width: 501px) and (max-width: 1000px) {
  .mobile-and-drop-box {
    display: flex;
    flex-direction: column;
    width: 280px;
    padding-left: 0;
    margin-left: 2%;
    position: absolute;
    z-index: 999;
  }

  #desktop-exhibitions-link {
    margin-top: 0;
  }

  .About-text-2-wrapper {
    padding-left: 19rem;
    padding-bottom: 9rem;
  }

  .About-text-2,
  .About-text-4 {
    text-wrap: wrap;
    width: 100px;
    z-index: 12;
    position: absolute;
  }

  .circle-img-box {
    width: 300px;
  }

  .elements-img-box {
    flex-direction: column;
    width: 300px;
    margin-top: -3rem;
    margin-left: 0;
    padding: 0;
    align-items: center;
  }

  .elements-img-About {
    width: 200px;
    height: 150px;
  }

  .About-img-box-3 {
    margin-top: -18rem;
  }

  .About-box-2,
  .About-box-4 {
    flex-direction: column;
  }

  .About-box-2 {
    gap: 0;
    padding-top: 5rem;
  }

  .About-box-2 {
    width: 300px;
    height: 400px;
    padding-bottom: 15rem;
  }

  .About-box-4 {
    margin-top: -5rem;
    padding: 0;
    width: 400px;
    height: 500px;
  }

  .About-wrapper-4 {
    display: flex;
    flex-direction: column;
    width: 420px;
    height: 200px;
    justify-content: center;
    align-items: center;
  }

  .About-text-4-wrapper {
    width: 120px;
    padding-left: 0;
    padding-top: 5rem;
    padding-right: 1rem;
  }

  .building-blocks-img-box {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 390px;
    align-items: center;
    justify-content: end;
    margin: 0;
    padding: 0;
  }

  .building-blocks-img {
    width: 500px;
  }

  .circle-img-box-2 {
    display: flex;
    flex-direction: column;
    height: 350px;
    width: 500px;
    align-items: center;
    justify-content: end;
    margin: 0;
    padding: 0;
    z-index: 11;
  }

  .circle-img-About {
    width: 550px;
  }
}

/* XTRA SMALL SCREENS */

@media (max-width: 500px) {
  .mobile-and-drop-box {
    display: flex;
    flex-direction: column;
    width: 280px;
    padding-left: 0;
    margin-left: 2%;
    position: absolute;
    z-index: 999;
  }

  #desktop-exhibitions-link {
    margin-top: 0;
  }

  .About-wrapper-4 {
    flex-direction: column;
    z-index: 12;
  }

  .About-text-box-4 {
    margin-left: 2rem;

    padding: 0;
  }

  .building-blocks-img-box {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100px;
    align-items: center;
  }

  .About-text-box-2 {
    margin-left: 5rem;
  }

  .elements-img-box {
    flex-direction: column;
    width: 100vw;
    margin-top: -5rem;
    align-items: center;
  }

  .About-img-box-3 {
    margin-top: -10rem;
  }
}
