.mobile-and-drop-box {
  margin-top: -2.7rem;
  margin-left: 29rem;
}

#more {
  margin-top: 0.2rem;
}

#desktop-exhibitions-link {
  margin-top: -5.8rem;
}

.About-wrapper,
.About-box-1 {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
}

.About-banner {
  width: 100vw;
  height: 60vh;
  display: flex;
  position: relative;
}

.About-banner-img {
  width: 100%;
  object-fit: cover;
  height: 200px;
  filter: brightness(50%);
}

.About-img-box-1 {
  width: 80vw;
}

.About-img-1 {
  width: 100%;
  object-fit: contain;
}

.h1-about-box {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.About-text-box-1 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 80vw;
}

.About-text-1 {
  width: 100%;
}

.About-box-2 {
  display: flex;
  flex-direction: row;
  width: 20vw;
  padding-top: 5rem;
}

.About-text-box-2 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
}

.About-text-2-wrapper {
  width: 200px;
  position: absolute;
  padding-right: 4rem;
}

.circle-img-About {
  width: 900px;
  height: 300px;
}

.elements-img-box {
  display: flex;
}

.elements-img-About {
  width: 400px;
  height: 300px;
}

.About-box-3 {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
}

.About-img-box-3 {
  width: 80vw;
}

.About-img-3 {
  width: 100%;
  object-fit: contain;
}

/* SMALL SCREENS */

@media (min-width: 501px) and (max-width: 1000px) {
  .mobile-and-drop-box {
    display: flex;
    flex-direction: column;
    width: 280px;
    padding-left: 0;
    margin-left: 2%;
    position: absolute;
    z-index: 999;
  }

  #desktop-exhibitions-link {
    margin-top: 0;
  }
}
