.Contact {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Contact-banner {
  width: 100vw;
  display: flex;
  position: relative;
}

.contact-banner-img {
  width: 100%;
  margin-top: -6rem;
  object-fit: contain;
}

.h1-text-box-contact {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin: auto;
  width: 100vw;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.Visit-info-box,
.Get-in-touch-box {
  display: flex;
  flex-direction: column;
  border: 5px solid #41a2a6;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    86deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(75, 76, 77, 1) 63%
  );
  width: 82vw;
}

.Visit-info-box {
  margin-top: -20rem;
  padding-left: 2rem;
  width: 86.9vw;
}

.Get-in-touch-box {
  margin-top: 5rem;
  align-items: center;
  margin-bottom: 5rem;
  width: 89vw;
}

table {
  display: flex;
  flex-direction: column;
  width: 85vw;
  border: 5px solid #41a2a6;
  width: 20rem;
}

td,
tr {
  width: 200px;
}

.td-border-btm {
  border-bottom: 1px solid white;
}

.td-time {
  border-left: 1px solid white;
  font-weight: lighter;
}

.contact-text {
  font-weight: lighter;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 500px;
  margin-bottom: 8rem;
}

.contact-input {
  padding-bottom: 2rem;
}

.name-label,
.email-label {
  margin-top: 2rem;
}

.message-input {
  padding-bottom: 10rem;
}

.contact-button {
  margin-top: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: bolder;
  border: 4px solid #41a2a6;
  background-color: black;
  color: #41a2a6;
}

/* SMALL SCREENS */

@media (min-width: 501px) and (max-width: 1000px) {
  .Visit-info-box {
    margin-top: -10rem;
  }

  .contact-form {
    width: 300px;
    height: 500px;
  }

  .contact-banner-img {
    margin-top: 0;
  }
}

/* XTRA SMALL SCREENS */

@media (max-width: 500px) {
  .Visit-info-box {
    margin-top: -6rem;
  }

  .Get-in-touch-box {
    width: 90vw;
  }

  .contact-form {
    width: 280px;
    height: 500px;
  }

  table {
    width: 15rem;
  }
  .contact-banner-img {
    margin-top: 0;
  }
}
