.mobile-and-drop-box {
  margin-top: -2.7rem;
  margin-left: 29rem;
}

#more {
  margin-top: 0.2rem;
}

#desktop-exhibitions-link {
  margin-top: -5.8rem;
}

.support {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.support-banner {
  width: 100vw;

  display: flex;
  position: relative;
  padding-top: 5rem;
}

.support-banner-img {
  width: 100vw;
  object-fit: contain;
  filter: brightness(50%);
}

.h1-text-box-support {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100vw;
  align-items: center;
  padding-top: 25rem;
}

.text-box-support-2,
.support-text-box-4 {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  justify-content: center;
}

.circle-img-box-wrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.circle-img-box {
  width: 800px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(20rem, 100%), 1fr));
  grid-template-areas:
    "Beetles Gap Shells"
    "Gap2 Circle Gap3"
    "Coins Gap4 Clocks";
  margin: 0;
  padding-right: 36rem;
}

.beetle-img {
  grid-area: Beetles;
}

.coin-img {
  grid-area: Coins;
}

.shell-img {
  grid-area: Shells;
}

.clock-img {
  grid-area: Clocks;
}

.text-circle,
.support-text-box-3 {
  grid-area: Circle;
}

.support-text-box-3 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 750px;
  padding-top: 5rem;
  align-items: center;
}

.support-text-3 {
  text-wrap: wrap;
  width: 200px;
}

/* SMALL SCREENS */

@media (min-width: 501px) and (max-width: 1000px) {
  .mobile-and-drop-box {
    display: flex;
    flex-direction: column;
    width: 280px;
    padding-left: 0;
    margin-left: 2%;
    position: absolute;
    z-index: 999;
  }

  #desktop-exhibitions-link {
    margin-top: 0;
  }

  .circle-img-box {
    width: 400px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(8rem, 100%), 1fr));
    grid-template-areas:
      "Gap Circle Gap1"
      "Beetles Gap5 Shells"
      "Coins Gap4 Clocks";
    margin: 0;
    padding-right: 37rem;
    padding-top: 5rem;
  }

  .h1-text-box-support {
    padding-top: 15rem;
  }
}
