#more {
  padding-top: 0.8rem;
  margin-left: 0.8rem;
}

#desktop-exhibitions-link {
  margin-top: -5.9rem;
}

.desktop-drop-down-link {
  margin-left: 1rem;
}

.support {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.support-banner {
  width: 100vw;

  display: flex;
  position: relative;
  padding-top: 5rem;
}

.support-banner-img {
  width: 100vw;
  object-fit: contain;
  filter: brightness(50%);
}

.h1-text-box-support {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100vw;
  align-items: center;
  padding-top: 25rem;
}

.text-box-support-2,
.support-text-box-4 {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  justify-content: center;
}

.circle-img-box-wrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.circle-img-box {
  width: 800px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(20rem, 100%), 1fr));
  grid-template-areas:
    "Beetles Gap Shells"
    "Gap2 Circle Gap3"
    "Coins Gap4 Clocks";
  margin: 0;
  padding-right: 36rem;
}

.beetle-img {
  grid-area: Beetles;
}

.coin-img {
  grid-area: Coins;
}

.shell-img {
  grid-area: Shells;
}

.clock-img {
  grid-area: Clocks;
}

.text-circle,
.support-text-box-3 {
  grid-area: Circle;
}

.support-text-box-3 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 750px;
  padding-top: 5rem;
  align-items: center;
}

.support-text-3 {
  text-wrap: wrap;
  width: 200px;
}

/* SMALL SCREENS */

@media (min-width: 501px) and (max-width: 1000px) {
  .mobile-and-drop-box {
    display: flex;
    flex-direction: column;
    width: 285px;
    padding-left: 0;
    margin-left: 2%;
    position: absolute;
    z-index: 999;
  }

  #desktop-exhibitions-link {
    margin-top: 0;
  }

  .desktop-drop-down-link {
    margin-left: 1.5rem;
  }

  #more {
    margin-left: 0;
  }

  .circle-img-box {
    width: 400px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(8rem, 100%), 1fr));
    grid-template-areas:
      "Gap Circle Gap1"
      "Beetles Gap5 Shells"
      "Coins Gap4 Clocks";
    margin: 0;
    padding-right: 37rem;
    padding-top: 5rem;
  }

  .h1-text-box-support {
    padding-top: 15rem;
  }
}

/* XTRA SMALL SCREENS */

@media (max-width: 500px) {
  .mobile-and-drop-box {
    display: flex;
    flex-direction: column;
    width: 285px;
    padding-left: 0;
    margin-left: 2%;
    position: absolute;
    z-index: 999;
  }

  #desktop-exhibitions-link {
    margin-top: 0;
  }

  .desktop-drop-down-link {
    margin-left: 1.5rem;
  }

  #more {
    margin-left: 0;
  }

  .circle-img-box {
    width: 300px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(6.3rem, 100%), 1fr));
    grid-template-areas:
      "Gap Circle Gap1"
      "Beetles Gap5 Shells"
      "Coins Gap4 Clocks";
    margin: 0;
    padding-right: 22rem;
    padding-top: 5rem;
  }

  .h1-text-box-support {
    padding-top: 15rem;
  }

  .beetle-img,
  .coin-img,
  .shell-img,
  .clock-img,
  .text-circle {
    width: 500px;
  }

  .support-text-box-3 {
    width: 460px;
    padding-top: 2rem;
  }

  .support-text-3 {
    width: 100px;
  }

  .h1-text-box-support {
    padding-top: 5rem;
  }
}
