#more {
  padding-top: 0.8rem;
  margin-left: 0.8rem;
}

#desktop-exhibitions-link {
  margin-top: -5.9rem;
}

.desktop-drop-down-link {
  margin-left: 1rem;
}

.Exhibitions {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Exhibitions-banner {
  width: 100vw;
  height: 60vh;
  display: flex;
  position: relative;
}

.Exhibitions-banner-img {
  width: 100%;
  object-fit: cover;
}

.h1-exhibitions-box {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100vw;
  align-items: center;
  justify-content: center;
  height: 400px;
}

.h1-exhibitions {
  height: 100px;
}
.Cosmology-box,
.Evolution-box,
.Biology-Medicine-box,
.Robotics-AI-box,
.Ecology-box {
  display: flex;
  flex-direction: column;
  width: 70vw;
  border: 5px solid #41a2a6;
  background-color: #20252b;
  padding: 3rem;
  margin-top: 5rem;
}

.Ecology-box {
  margin-bottom: 5rem;
}

/* SMALL SCREENS */

@media (min-width: 501px) and (max-width: 1000px) {
  .mobile-and-drop-box {
    display: flex;
    flex-direction: column;
    width: 285px;
    padding-left: 0;
    margin-left: 2%;
    margin-top: -3.2rem;
    position: absolute;
    z-index: 999;
  }

  #desktop-exhibitions-link {
    margin-top: 0;
  }

  .desktop-drop-down-link {
    margin-left: 1.5rem;
  }

  .desktop-drop-down-link,
  .mobile-link {
    padding-bottom: 0.8rem;
    padding-bottom: 0.8rem;
  }

  #more {
    margin-left: 0;
  }
}

/* XTRA SMALL SCREENS */

@media (max-width: 500px) {
  .mobile-and-drop-box {
    display: flex;
    flex-direction: column;
    width: 285px;
    padding-left: 0;
    margin-left: 2%;
    margin-top: -3.2rem;
    position: absolute;
    z-index: 999;
  }

  #desktop-exhibitions-link {
    margin-top: 0;
  }

  .desktop-drop-down-link {
    margin-left: 1.5rem;
  }

  .desktop-drop-down-link,
  .mobile-link {
    padding-bottom: 0.8rem;
    padding-bottom: 0.8rem;
  }

  #more {
    margin-left: 0;
  }
}
