.Exhibitions {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Exhibitions-banner {
  width: 100vw;
  height: 60vh;
  display: flex;
  position: relative;
}

.Exhibitions-banner-img {
  width: 100%;
  object-fit: cover;
}

.h1-exhibitions-box {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100vw;
  align-items: center;
  justify-content: center;
  height: 400px;
}

.h1-exhibitions {
  height: 100px;
}
.Cosmology-box,
.Evolution-box,
.Biology-Medicine-box,
.Robotics-AI-box,
.Ecology-box {
  display: flex;
  flex-direction: column;
  width: 70vw;
  border: 5px solid #41a2a6;
  background-color: #20252b;
  padding: 3rem;
  margin-top: 5rem;
}

.Ecology-box {
  margin-bottom: 5rem;
}

/* SMALL SCREENS */

@media (min-width: 501px) and (max-width: 1000px) {
}

/* XTRA SMALL SCREENS */

@media (max-width: 500px) {
  .Cosmology-box,
  .Evolution-box,
  .Biology-Medicine-box,
  .Robotics-AI-box,
  .Ecology-box {
    width: 60vw;
  }

  .Exhibitions-banner-img {
    width: 100%;
    object-fit: cover;
  }
}
