.mobile-and-drop-box {
  margin-top: -2.7rem;
  margin-left: 29rem;
}

#more {
  margin-top: 0.2rem;
}

#desktop-exhibitions-link {
  margin-top: -5.8rem;
}

.For-kids,
.For-teachers {
  display: flex;
  flex-direction: column;
  width: 100vw;

  align-items: center;
}

.For-kids-banner,
.For-teachers-banner {
  width: 100vw;
  height: 60vh;
  display: flex;
  position: relative;
}

.For-kids-banner-img,
.For-teachers-banner-img {
  width: 100%;
  object-fit: cover;
}

.For-teachers-banner-img {
  height: 480px;
}

.For-kids-h1-text-box,
.For-teachers-h2-text-box {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
}

.h1-box,
.h2-box {
  height: 100px;
  width: 400px;
}

.h1-explore,
.h2-explore {
  width: 330px;
  text-wrap: nowrap;
}

.caret-explore {
  display: none;
}

.For-kids-wrapper {
  width: 100vw;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(2 1fr);
  grid-template-rows: repeat(2 1fr);
  grid-template-areas:
    "Bumper Mammoth"
    "Stars Holiday";
  column-gap: 20px;
}

.for-kids-img-box {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.for-kids-image {
  width: 800px;
}

.for-kids-text-box {
  display: flex;
  flex-wrap: wrap;
}
