#more {
  padding-top: 0.8rem;
  margin-left: 0.8rem;
}

#desktop-exhibitions-link {
  margin-top: -5.9rem;
}

.desktop-drop-down-link {
  margin-left: 1rem;
}

.internships {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.internships-banner {
  width: 85vw;
  display: flex;
  position: relative;
  padding-top: 2rem;
}

.internships-banner-img {
  width: 85vw;
  object-fit: contain;
  border: 2px solid #41a2a6;
}

.h1-text-box-internships {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 10;
  margin: auto;
  width: 80vw;
  justify-content: center;
  padding-top: 200px;
}

.internships-text-box-1,
.internships-text-box-2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
}

.internships-text-2 {
  width: 900px;
}

.internships-img-box-1,
.internships-img-box-2 {
  display: flex;
  position: relative;
  padding-top: 5rem;
  justify-content: center;
}
.internships-img-box-1 {
  width: 100vw;
}

.internships-img-box-2 {
  width: 80vw;
  padding-bottom: 5rem;
}

.internships-img-1 {
  width: 100%;
  object-fit: cover;
}

.internships-img-2 {
  width: 100%;
  object-fit: contain;
}

.internships-button-box {
  width: 100vw;
  display: flex;
  justify-content: center;
  padding-bottom: 5rem;
}

.internships-button {
  width: 350px;
  height: 45px;
  font-weight: bolder;
}

/* SMALL SCREENS */

@media (min-width: 501px) and (max-width: 1000px) {
  .mobile-and-drop-box {
    display: flex;
    flex-direction: column;
    width: 285px;
    padding-left: 0;
    margin-left: 2%;
    margin-top: -3.7rem;
    position: absolute;
    z-index: 999;
  }

  #desktop-exhibitions-link {
    margin-top: 0;
  }

  .desktop-drop-down-link {
    margin-left: 1.5rem;
  }

  .desktop-drop-down-link,
  .mobile-link {
    padding-bottom: 0.8rem;
  }

  #more {
    margin-left: 0;
  }

  .internships-text-box-1,
  .internships-text-box-2 {
    padding-left: 2rem;
  }

  .internships-text-2 {
    width: 500px;
  }

  .internships-text-1 {
    width: 600px;
  }

  .h1-text-box-internships {
    padding-top: 100px;
  }
}

/* XTRA SMALL SCREENS */

@media (max-width: 500px) {
  .mobile-and-drop-box {
    display: flex;
    flex-direction: column;
    width: 285px;
    padding-left: 0;
    margin-left: 2%;
    margin-top: -3.7rem;
    position: absolute;
    z-index: 999;
  }

  #desktop-exhibitions-link {
    margin-top: 0;
  }

  .desktop-drop-down-link {
    margin-left: 1.5rem;
  }

  .desktop-drop-down-link,
  .mobile-link {
    padding-bottom: 0.8rem;
  }

  #more {
    margin-left: 0;
  }

  .h1-text-box-internships {
    padding-top: 60px;
  }
}
