.mobile-and-drop-box {
  z-index: 999;
}

#more {
  padding-top: 0.8rem;
  margin-left: 0.8rem;
}

#desktop-exhibitions-link {
  margin-top: -5.9rem;
}

.desktop-drop-down-link {
  margin-left: 1rem;
}

.Privacy-policy {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5rem;
  position: relative;
  z-index: 12;
}

.Privacy-policy-banner {
  width: 96vw;
  height: 400px;
  display: flex;
  position: relative;
  border: 5px solid #41a2a6;
  margin-top: 5rem;
}

.h1-pp-box {
  display: flex;
  width: 96vw;
  height: 50rem;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 999;
}

.pp-text {
  font-weight: lighter;
}

.Privacy-policy-text {
  display: flex;
  flex-direction: column;
  width: 96vw;
}

/* SMALL SCREENS */

@media (min-width: 501px) and (max-width: 1000px) {
  .mobile-and-drop-box {
    display: flex;
    flex-direction: column;
    width: 285px;
    padding-left: 0;
    margin-left: 2%;
    margin-top: -3.2rem;
    position: absolute;
    z-index: 999;
  }

  #desktop-exhibitions-link {
    margin-top: 0;
  }

  .desktop-drop-down-link {
    margin-left: 1.5rem;
  }

  #more {
    margin-left: 0;
  }

  /* XTRA SMALL SCREENS */

  @media (max-width: 500px) {
    .mobile-and-drop-box {
      display: flex;
      flex-direction: column;
      width: 285px;
      padding-left: 0;
      margin-left: 2%;
      margin-top: -3.2rem;
      position: absolute;
      z-index: 999;
    }

    #desktop-exhibitions-link {
      margin-top: 0;
    }

    .desktop-drop-down-link {
      margin-left: 1.5rem;
    }

    #more {
      margin-left: 0;
    }
  }
}
