:root {
  --Primary-base-color: #41a2a6;
  --Secondary-base-color: black;
  --Grey-base-color: #20252b;
  --Text-base-color: white;
  --Secondary-font-family: "Source Sans 3", sans-serif;
  --Primary-font-family-Bold: "Playfair Display", serif;
  --Header-1-Desktop-font-size: 40px;
  --Body-1-and-2-font-size: 20px;
}

.Special-Events,
main,
header,
.Explore,
.Transition-box,
.Our-Museum {
  background-color: var(--Secondary-base-color);
}

body,
.nav-wrapper,
.drop-down-link {
  background-color: var(--Primary-base-color);
}

.drop-down-link,
.desktop-link,
.more,
h1,
h3 a,
h2,
h3,
p,
.slideshow-text {
  color: var(--Text-base-color);
}

body {
  max-width: 100vw;
  padding: 10rem;
}

main {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  max-width: 100vw;
  padding: 15rem;
  align-items: center;
}

header {
  display: flex;
  flex-direction: row;
  max-width: 100vw;
  min-height: 250px;
  height: 100%;
}

.logo-wrapper {
  width: 10%;
  display: flex;
  flex-direction: row;
}

.logo {
  align-self: end;
  justify-self: end;
  width: 40vw;
}

.Logo-Search {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#mobile-checkbox {
  display: none;
}

#hamburger {
  display: none;
}

.nav-wrapper {
  display: flex;
  flex-wrap: nowrap;
  max-width: 100vw;
  min-height: 80px;
  max-height: 350px;
  justify-content: center;
  align-items: center;
  padding-right: 4rem;
}

.nav {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}

nav a {
  font-family: var(--Secondary-font-family);
  font-size: 25px;
  font-weight: bold;
}

.desktop-link {
  text-decoration: none;
  margin-left: 1rem;
}

.search-box-wrapper {
  display: flex;
  justify-content: end;
  width: 40vw;
}
.search-box {
  display: flex;
  width: 100%;
  height: 100%;
  min-height: 10px;
  max-height: 10px;
  min-width: 80px;
  max-width: 200px;
  background-color: white;
  align-self: center;
  padding-bottom: 2rem;
  padding-left: 2rem;
}

.search-icon-desktop {
  position: absolute;
  margin-top: -0.4rem;
  margin-left: -3rem;
}

.search-icon-mob {
  display: none;
}

input[type="search"] {
  background: white;
  border: none;
  height: 40px;
}

input[type="search"]:focus {
  outline: none;
}

::placeholder {
  text-align: center;
}

.mobile-link {
  display: none;
}

.drop-down-menu {
  display: flex;
  width: 200px;
  max-width: 600px;
  flex-direction: column;
  height: 500px;
  z-index: 12;
  margin-left: 38rem;
  margin-top: 27rem;
  position: absolute;
}

.drop-down-link {
  z-index: 12;
  position: relative;
  display: none;
  font-family: var(--Secondary-font-family);
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
}

.more {
  border: none;
  outline: none;
  background: none;
  font-family: var(--Secondary-font-family);
  font-size: 25px;
  font-weight: bold;
  padding-bottom: 1rem;
  padding-top: 1.1rem;
  margin-left: -9rem;
}
.more:focus ~ .drop-down-link {
  display: block;
}

/* MAIN CONTENT HOME */

/* EXPLORE SECTION & OUR MUSEUM SECTION */

.Explore,
.Our-Museum {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  z-index: 8;
  position: relative;
  overflow: hidden;
  padding-bottom: 20rem;
  align-items: center;
}

.Explore-text-box {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  height: 100%;
  width: 100%;
  position: absolute;
  align-items: center;
  justify-content: start;
  justify-self: center;
  padding-top: 2rem;
  overflow: hidden;
}

.Transition-box {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.Transition-box-Our-Museum {
  display: flex;
  flex-direction: column;

  width: 69vw;
  height: 100vh;
}

.explore-img,
.Our-Museum-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.img-box,
.Our-Museum-img-box {
  width: 100vw;
  height: 100%;
  position: absolute;
  opacity: 0;
  overflow: hidden;
  outline: 10px solid var(--Primary-base-colors);
}

.Transition-box > div {
  animation: animate 25s infinite;
}

.Transition-box-Our-Museum > div {
  animation: animate 8s infinite;
}

.Transition-box > div:nth-child(2),
.Transition-box-Our-Museum > div:nth-child(2) {
  animation-delay: 4s;
}
.Transition-box > div:nth-child(3) {
  animation-delay: 8s;
}

.Transition-box-Our-Museum > div:nth-child(3) {
  animation-delay: 3s;
}

.Transition-box > div:nth-child(4) {
  animation-delay: 12s;
}

.Transition-box > div:nth-child(5) {
  animation-delay: 16s;
}

@keyframes animate {
  10% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  40% {
    transform: scale (1);
  }
}

h1,
h3 a {
  font-family: var(--Header-1-Desktop-font-family);
  font-size: var(--Header-1-Desktop-font-size);
  overflow: hidden;
  height: 100vh;
}

.h2-wrapper {
  display: flex;
  flex-flow: row nowrap;
  width: 20rem;
  overflow: hidden;
}

.h2-our-museum {
  font-family: var(--Header-1-Desktop-font-family);
  font-size: var(--Header-1-Desktop-font-size);
  height: 15rem;
  width: 100%;
  overflow: hidden;
  justify-content: center;
}

h3 a {
  padding-bottom: 40rem;
}

.Our-Museum-text-box {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  position: absolute;
  justify-content: center;
  align-items: center;
  align-self: center;
  overflow: hidden;
}

.h1-text {
  font-family: var(--Secondary-font-family);
  font-size: var(--Body-1-and-2-font-size);
  font-weight: bold;
  overflow: hidden;
  height: 100vh;
  margin-top: -3rem;
}

/* NEWS SECTION */

.h2-news-box {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

.h2-news {
  width: 100%;
  justify-self: center;
}

/* SPECIAL EVENTS */

.slideshow-content-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.slideshow-img-box {
  width: 50vw;
}

.slideshow-img {
  border: 10px solid var(--Primary-base-color);
  width: 100%;
  height: 100%;
  object-fit: contain;
}
