:root {
  --Primary-base-color: #41a2a6;
  --Secondary-base-color: black;
  --Grey-base-color: #20252b;
  --Text-base-color: white;
  --Secondary-font-family: "Source Sans 3", sans-serif;
  --Primary-font-family-Bold: "Playfair Display", serif;
  --Header-1-Desktop-font-size: 50px;
  --Body-1-and-2-font-size: 40px;
}

* {
  overflow-x: hidden;
  margin: 0;
}
.Special-Events,
main,
header,
.Explore,
.Transition-box,
.Our-Museum {
  background-color: var(--Secondary-base-color);
}

body,
.nav-wrapper,
.drop-down-link {
  background-color: var(--Primary-base-color);
}

.drop-down-link,
.desktop-link,
.more,
h1,
h3 a,
h2,
h3,
p {
  color: var(--Text-base-color);
}

body {
  max-width: 100vw;
  padding: 5rem;
}

main {
  overflow-y: scroll;
  max-width: 100vw;
}

header {
  display: flex;
  flex-direction: row;
  max-width: 100vw;
  height: 250px;
  min-height: 250px;
  height: 100%;
}

.logo-wrapper {
  width: 61vw;
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.logo {
  align-self: center;
  width: 30vw;
}

.Logo-Search {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#mobile-checkbox {
  display: none;
}

#hamburger {
  display: none;
}

.nav-wrapper {
  display: flex;
  flex-wrap: nowrap;
  max-width: 100vw;
  min-height: 110px;
  max-height: 350px;
  justify-content: center;
  align-items: center;
  padding-right: 10rem;
}

.nav {
  display: flex;
  flex-wrap: nowrap;
}

nav a {
  font-family: var(--Secondary-font-family);
  font-size: 46px;
  font-weight: bold;
  padding-right: 1rem;
}

.desktop-link {
  text-decoration: none;
  margin-left: 1rem;
}

.search-box-wrapper {
  display: flex;
  justify-content: end;
  min-width: 30vw;
}
.search-box {
  display: flex;
  width: 100%;
  height: 30px;
  min-width: 200px;
  max-width: 400px;
  background-color: white;
  align-self: center;
  padding-left: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 2rem;
}

.search-icon-mob {
  display: none;
}

input[type="search"] {
  background: white;
  border: none;
  height: 30px;
}

input[type="search"]:focus {
  outline: none;
}

::placeholder {
  text-align: center;
}

.mobile-link {
  display: none;
}

.drop-down-menu {
  display: flex;
  width: 350px;
  max-width: 800px;
  flex-direction: column;
  height: 500px;
  z-index: 12;
  margin-left: 50rem;
  margin-top: 27.4rem;
  position: absolute;
}

.drop-down-link {
  z-index: 12;
  position: relative;
  display: none;
  font-family: var(--Secondary-font-family);
  font-size: 46px;
  font-weight: bold;
  text-decoration: none;
}

.more {
  border: none;
  outline: none;
  background: none;
  font-family: var(--Secondary-font-family);
  font-size: 46px;
  font-weight: bold;
  margin-top: -3px;

  padding-bottom: 1.5rem;
}
.more:focus ~ .drop-down-link {
  display: block;
}

/* .more:focus > .drop-down-link {
  display: block;
} */

.explore-img-1 {
  z-index: 8;
}

/* MAIN CONTENT HOME */

/* EXPLORE SECTION & OUR MUSEUM SECTION */

.Explore,
.Our-Museum {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  height: 100vw;
  z-index: 8;
  position: relative;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  padding: 5rem;
}

.Explore-text-box {
  display: flex;
  flex-direction: column;
  max-height: 700px;
  height: 100%;
  width: 100%;
  position: absolute;
  align-items: center;
  justify-content: start;
  justify-self: center;
  row-gap: 15rem;
  padding-top: 8rem;
  overflow: hidden;
}

.explore-img,
.Our-Museum-img {
  width: 100%;
  height: auto;
  object-fit: contain;
  outline: 10px solid var(--Primary-base-color);
  outline-offset: -0.5rem;
}

.Transition-box,
.Transition-box-Our-Museum {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  margin: 0;
  padding: 0;
  align-self: center;
}

.Transition-box > div {
  width: 100%;
  height: 100%;
  position: absolute;
  animation: animate 25s infinite;
  opacity: 0;
  overflow: hidden;
}

.Transition-box-Our-Museum > div {
  width: 100%;
  height: 100%;
  position: absolute;
  animation: animate 8s infinite;
  opacity: 0;
  overflow: hidden;
}

.Transition-box > div:nth-child(2),
.Transition-box-Our-Museum > div:nth-child(2) {
  animation-delay: 4s;
}
.Transition-box > div:nth-child(3) {
  animation-delay: 8s;
}

.Transition-box-Our-Museum > div:nth-child(3) {
  animation-delay: 3s;
}

.Transition-box > div:nth-child(4) {
  animation-delay: 12s;
}

.Transition-box > div:nth-child(5) {
  animation-delay: 16s;
}

@keyframes animate {
  10% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  40% {
    transform: scale (1);
  }
}

h1,
h3 a {
  font-family: var(--Header-1-Desktop-font-family);
  font-size: var(--Header-1-Desktop-font-size);
  overflow: hidden;
  height: 100vh;
}

.h2-wrapper {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  overflow: hidden;
}

h2 {
  font-family: var(--Header-1-Desktop-font-family);
  font-size: var(--Header-1-Desktop-font-size);
  height: 15rem;
  width: 100%;
  justify-content: start;
  overflow: hidden;
}

h3 {
  padding-bottom: 65rem;
}

.Our-Museum-text-box {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  position: absolute;
  justify-content: center;
  align-items: center;
  align-self: center;
  overflow: hidden;
}

.h1-text {
  font-family: var(--Secondary-font-family);
  font-size: var(--Body-1-and-2-font-size);
  font-weight: bold;
  overflow: hidden;
  height: 100vh;
}

/* NEWS SECTION */

.Special-Events {
  display: flex;
  width: 100vw;
  flex-direction: column;
  border: 10px solid white;
  margin-top: -20rem;
  padding-bottom: 80rem;
  padding-top: 0;
}

#slide-1,
#slide-2,
#slide-3 {
  position: relative;
  width: 98%;
  height: 100%;
  padding-top: 15rem;
  padding-bottom: 100rem;
  overflow-y: hidden;

  justify-content: center;
}

.slideshow-img {
  width: 95%;
  height: 100%;
  border: 10px solid var(--Primary-base-color);

  z-index: 7;
  object-fit: contain;
}

.image-slideshow-wrapper {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 100%;

  display: flex;
  scroll-behavior: smooth;
  width: 300%;
  height: 100%;
  border: 10px solid white;
  margin-top: -40rem;
  padding-top: 0;
}

.img-box-wrapper {
  display: grid;
  grid-auto-flow: column;
  width: 100%;
  height: 100%;
  grid-auto-columns: 1fr;
}

.image-slideshow-wrapper > div {
  display: flex;
  flex-direction: column-reverse;
  overflow-y: hidden;
}

.slideshow-text-box {
  height: 10rem;
  position: absolute;
  background-color: var(--Primary-base-color);
}

.slideshow-caret-1,
.slideshow-caret-2,
.slideshow-caret-3 {
  z-index: 8;
  position: absolute;
}

#text-box-1,
#text-box-2,
#text-box-3 {
  z-index: 8;
  width: 95.3%;
}

#caret-1 {
  z-index: 8;
  position: absolute;
}
