.caret-volunteer,
.Volunteer-radio {
  visibility: hidden;
}

.volunteer-box {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
  padding-bottom: 15rem;
}

.volunteer-banner {
  width: 100vw;
  height: 60vh;
  display: flex;
  position: relative;
}

.volunteer-banner-img {
  width: 100%;
  object-fit: cover;
  height: 200px;
  filter: brightness(50%);
}

.h1-volunteer-box {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  padding-top: 13rem;
}

.volunteer-text-box-1 {
  padding-top: 8rem;
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.volunteer-img-box {
  width: 36rem;
  height: 25rem;
  margin-left: -15.7rem;
}

.volunteer-3-box-wrapper,
.volunteer-fieldset {
  display: flex;
  margin-left: -3.8%;
  width: 100vw;
  border: none;
}

.volunteer-img {
  width: 100%;
  object-fit: cover;
}

.volunteer-text-1 {
  width: 500px;
}

.volunteer-text-box {
  height: 150px;
  padding-top: 4rem;
  border: 2px solid #41a2a6;
}

.volunteer-text {
  max-height: 200px;
  margin-top: -4rem;
  padding-left: 1rem;
}

.volunteer-button-box {
  display: flex;
  width: 100vw;
  justify-content: center;
  margin-top: 20rem;
}

.volunteer-button {
  width: 300px;
  height: 50px;
  font-weight: bolder;
}

/* SMALL SCREENS */

@media (min-width: 501px) and (max-width: 1000px) {
  .volunteer-fieldset {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 120px;
    justify-content: center;
    border: none;
  }

  .volunteer-3-box-wrapper,
  .volunteer-fieldset {
    padding-right: 0;
    margin-left: 0;
  }

  .volunteer-3-box-wrapper {
    position: relative;
    margin-top: 10rem;
    padding-bottom: 0;
  }

  .Volunteer-radio {
    position: absolute;
    z-index: 12;
    visibility: hidden;
    width: 100%;
    height: 100%;
  }

  .caret-volunteer {
    visibility: visible;
    position: absolute;
    z-index: 12;
    margin-top: -10rem;
    transform: scale(1.5);
  }

  .volunteer-img-box {
    position: absolute;
    margin-right: 0;
    width: 25rem;
    height: 38rem;
    margin-left: 0;
    margin-top: 2rem;
  }

  .volunteer-img {
    object-fit: contain;
  }

  #volunteer-img-1 {
    z-index: 1;
  }

  #volunteer-img-2 {
    z-index: 8;
  }

  #volunteer-img-3 {
    z-index: 9;
  }

  #volunteer-img-box-2,
  #volunteer-img-box-3 {
    margin-left: -250rem;
  }

  #volunteer-img-box-1 {
    z-index: 8;
  }

  #volunteer-img-box-2 {
    z-index: 9;
    background-color: black;
  }

  #volunteer-img-box-3 {
    z-index: 10;
    background-color: black;
  }

  #caret-1-volunteer {
    z-index: 9;
  }

  #caret-2-volunteer {
    z-index: 10;
  }
  #caret-3-volunteer {
    z-index: 7;
  }

  #Volunteer-radio-1:checked ~ #volunteer-img-box-2 {
    margin-left: 0;
  }

  #Volunteer-radio-2:checked ~ #volunteer-img-box-3 {
    margin-left: 0;
  }

  .volunteer-button-box {
    margin-top: 50rem;
    padding-right: 0;
    margin-left: 2rem;
  }

  .volunteer-text-1 {
    width: 300px;
  }

  .volunteer-text-box {
    width: 25rem;
    margin-top: -5.5rem;
  }

  .volunteer-text {
    margin-top: -4rem;
  }
}

/* XTRA SMALL SCREENS */

@media (max-width: 500px) {
  .volunteer-fieldset {
    display: flex;
    flex-direction: row;
    min-width: 300px;
    height: 120px;
    justify-content: center;
    border: none;
  }

  .volunteer-3-box-wrapper,
  .volunteer-fieldset {
    padding-right: 0;
  }

  .Volunteer-radio {
    position: absolute;
    z-index: 12;
    visibility: hidden;
    margin-right: 3rem;
    width: 100%;
  }

  .caret-volunteer {
    visibility: visible;
    position: absolute;
    z-index: 12;
    margin-top: -6rem;
    margin-right: 5rem;
    transform: scale(1);
  }

  .volunteer-3-box-wrapper {
    position: relative;
    margin-top: 2rem;
    padding-bottom: 8rem;
    margin: 0 auto;
    padding-right: 0;
    padding-left: 0;
  }

  .volunteer-img-box {
    position: absolute;
    width: 15rem;
    margin: 0;
    background-color: black;
  }

  .caret-volunteer,
  .radio-volunteer-page {
    z-index: 999;
  }

  .volunteer-img {
    width: 100%;
    object-fit: contain;
  }

  #volunteer-img-box-2,
  #volunteer-img-box-3 {
    margin-left: -250rem;
  }

  #volunteer-img-box-1 {
    z-index: 8;
  }

  #volunteer-img-box-2 {
    z-index: 9;
  }

  #volunteer-img-box-3 {
    z-index: 10;
  }

  #caret-1-volunteer {
    z-index: 9;
  }

  #caret-2-volunteer {
    z-index: 10;
  }
  #caret-3-volunteer {
    z-index: 7;
  }

  #Volunteer-radio-1:checked ~ #volunteer-img-box-2 {
    margin-left: 0;
  }

  #Volunteer-radio-2:checked ~ #volunteer-img-box-3 {
    margin-left: 0;
  }

  .volunteer-button-box {
    margin-top: 25rem;
  }

  .volunteer-text-1 {
    width: 250px;
  }
  .volunteer-text {
    height: 100px;
  }

  .volunteer-text-box {
    height: 80px;
    margin-top: -4.4rem;
  }

  .volunteer-box {
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    padding-bottom: 5rem;
  }
}
