.mobile-and-drop-box {
  margin-top: -2.7rem;
  margin-left: 29rem;
  z-index: 999;
}

#more {
  margin-top: 0.3rem;
  z-index: 999;
}

#desktop-exhibitions-link {
  margin-top: -5.8rem;
}

.caret-volunteer,
.Volunteer-radio {
  visibility: hidden;
}

.volunteer-box {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
  padding-bottom: 15rem;
}

.volunteer-banner {
  width: 100vw;
  height: 60vh;
  display: flex;
  position: relative;
}

.volunteer-banner-img {
  width: 100%;
  object-fit: cover;
  height: 200px;
  filter: brightness(50%);
}

.h1-volunteer-box {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  padding-top: 13rem;
}

.volunteer-text-box-1 {
  padding-top: 8rem;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.volunteer-img-box {
  width: 22rem;
  height: 25rem;
  margin-right: 2rem;
}

.volunteer-3-box-wrapper {
  display: flex;
  flex-direction: row;
  width: 80vw;
  justify-content: center;
  margin-top: -5rem;
  padding-bottom: 5rem;
}

.volunteer-img {
  width: 100%;
  object-fit: cover;
}

.volunteer-text-box {
  height: 150px;
  padding-top: 4rem;
}

.volunteer-text {
  max-height: 100px;
  margin-top: -3rem;
  padding-left: 1rem;
}

.volunteer-button-box {
  display: flex;
  width: 100vw;
  justify-content: center;
  margin-top: 30rem;
  padding-right: 1rem;
}

.volunteer-button {
  width: 300px;
  height: 50px;
}

/* SMALL SCREENS */

@media (min-width: 501px) and (max-width: 1000px) {
  .mobile-and-drop-box {
    display: flex;
    flex-direction: column;
    width: 280px;
    padding-left: 0;
    margin-left: 2%;
    position: absolute;
    z-index: 999;
  }

  #desktop-exhibitions-link {
    margin-top: 0;
  }

  .caret-volunteer,
  .Volunteer-radio {
    margin-top: 20rem;
    margin-left: 8rem;
  }

  .Volunteer-radio {
    position: relative;
    z-index: 12;
    visibility: hidden;
  }

  .caret-volunteer {
    width: 80px;
    height: 80px;
    position: absolute;
    visibility: visible;
  }

  .volunteer-3-box-wrapper {
    position: relative;
  }

  .volunteer-img-box {
    position: absolute;
    margin-right: 0;
  }

  .volunteer-img {
    width: 100%;
    object-fit: contain;
  }

  #volunteer-img-box-2,
  #volunteer-img-box-3 {
    margin-left: -250rem;
  }

  #volunteer-img-box-1 {
    z-index: 8;
  }

  #volunteer-img-box-2 {
    z-index: 9;
  }

  #volunteer-img-box-3 {
    z-index: 10;
  }

  #caret-1-volunteer {
    z-index: 9;
  }

  #caret-2-volunteer {
    z-index: 10;
  }
  #caret-3-volunteer {
    z-index: 7;
  }

  #Volunteer-radio-1:checked ~ #volunteer-img-box-2 {
    margin-left: 0;
  }

  #Volunteer-radio-2:checked ~ #volunteer-img-box-3 {
    margin-left: 0;
  }

  .volunteer-button-box {
    margin-top: 32rem;
    padding-right: 0;
  }

  .volunteer-text {
    margin-top: -4.8rem;
  }
}

/* XTRA SMALL SCREENS */

@media (max-width: 500px) {
  .mobile-and-drop-box {
    display: flex;
    flex-direction: column;
    width: 280px;
    padding-left: 0;
    margin-left: 2%;
    position: absolute;
    z-index: 999;
  }

  #desktop-exhibitions-link {
    margin-top: 0;
  }

  .caret-volunteer,
  .Volunteer-radio {
    margin-top: 20rem;
    margin-left: 8rem;
  }

  .Volunteer-radio {
    position: relative;
    z-index: 12;
    visibility: hidden;
  }

  .caret-volunteer {
    width: 20px;
    height: 40px;
    position: absolute;
    visibility: visible;
  }

  .volunteer-3-box-wrapper {
    position: relative;
  }

  .volunteer-img-box {
    position: absolute;
    margin-right: 0;
    width: 20rem;
    height: 25rem;
  }

  .volunteer-img {
    width: 100%;
    object-fit: contain;
  }

  #volunteer-img-box-2,
  #volunteer-img-box-3 {
    margin-left: -250rem;
  }

  #volunteer-img-box-1 {
    z-index: 8;
  }

  #volunteer-img-box-2 {
    z-index: 9;
  }

  #volunteer-img-box-3 {
    z-index: 10;
  }

  #caret-1-volunteer {
    z-index: 9;
  }

  #caret-2-volunteer {
    z-index: 10;
  }
  #caret-3-volunteer {
    z-index: 7;
  }

  #Volunteer-radio-1:checked ~ #volunteer-img-box-2 {
    margin-left: 0;
  }

  #Volunteer-radio-2:checked ~ #volunteer-img-box-3 {
    margin-left: 0;
  }

  .volunteer-button-box {
    margin-top: 32rem;
    padding-right: 0;
  }
  .volunteer-text {
    margin-top: -5.8rem;
    height: 200px;
  }
}
